
{%  extends "templates/web.html" %}

{% block title %}{{ _("About Us") }}{% endblock %}


{% block page_content %}

      <!-- about.html -->
      <h1>{{ _("About Us") }}</h1>

      <!-- data injector coming from the python file-->
      <h1>{{ _( about_us) }}</h1>

      <!-- data injector coming from the python file-->
      {% for i in people %} 
      {% endfor  %}

      <!-- data injector coming from the python file-->
      {% for i in sales_order %}
      <div class="row">
        <div class="col-sm-6">
            You will find our team embibes these values.
        </div>
        <div class="col-sm-2"> 
          <li>  {{ i.name  }} - {{ i.grand_totals}} </li>
        </div>
      </div>
      {% endfor  %}

<!-- <script src="/test/index.js"> </script> -->

{% endblock %}


